* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  width: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 20px 10px;
}

.waiting-room {
  margin: 0 10px;
  width: 100%;
  max-width: 1100px;
}

.newroom {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newroom__form {
  padding: 10px;
  width: 100%;
  max-width: 5000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.newroom__input {
  flex-grow: 1;
  margin: 5px 10px 5px 5px;
  min-width: 0px;
  height: 50px;
}

.newroom__submit {
  margin: 10px 10px 10px 10px;
  padding: 0px;
  width: 140px;
  height: 50px;
  font-size: 20px;
}

.room-list {
  margin: 40px 20px 20px 20px;
}

.room-list__container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.room-list__item {
  width: 100%;
  margin: 15px 0 0 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  box-shadow: 2px 2px 10px #f4f4f4;
  box-sizing: border-box;
}

.room-list__name {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.room-list__enter {
  margin: 10px;
  padding: 0px;
  width: 180px;
  height: 50px;
  font-size: 20px;
}

/***************************************************/

.gaming-room {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  background-color: green;
  border-radius: 10px;
}

.game-panel {
  min-width: 400px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.game-panel__main {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.game-panel__title {
  margin: 10px 0 20px 0;
  font-size: 30px;
}

.game-panel__players {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.game-panel__player {
  width: 48%;
}

.game-panel__playercolor {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.game-panel__playercolor--black {
  background-color: black;
  color: white;
}

.game-panel__playercolor--white {
  background-color: white;
  color: black;
}

.game-panel__playerinfo {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.game-panel__playername {
  padding: 5px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}

.game-panel__playerselect {
  margin: 1px;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.game-panel__message {
  margin: 20px 0 10px 0;
  padding: 15px 0;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  max-height: 40vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}

.game-panel__message p {
  width: 98%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.game-panel__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.game-panel__button {
  width: 48%;
}

.omokboard {
  width: 70vh;
  height: 70vh;
  margin: 0 20px 0 0;
  position: relative;
  background: url("../views/img/board.jpg");
  background-size: 100% 100%;
  touch-action: none;
}

.omokboard__stone {
  position: absolute;
  width: 4.5%;
  height: 4.5%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px gray;
}

.omokboard__stone--black {
  background-color: black;
}

.omokboard__stone--white {
  background-color: white;
}

.omokboard__stone--hint {
  opacity: 0.6;
}

.omokboard__stone--prev {
  width: 2%;
  height: 2%;
  background-color: red;
  z-index: 1;
}

.omokboard__coord {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  touch-action: none;
}

.endscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.endscreen__main {
  width: 25%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 7px solid black;
  border-radius: 20px;
}

.endscreen__text {
  margin: 10px 0;
}

.endscreen__button {
  width: 70px;
  margin-bottom: 10px;
  padding: 5px;
}

@media screen and (orientation: portrait) {
  body {
    width: 100%;
  }

  .gaming-room {
    flex-direction: column;
    align-items: center;
  }

  .game-panel {
    width: 100%;
  }

  .omokboard {
    width: 90vw;
    height: 90vw;
    margin: 0px;
  }
}

.timer-display{
  margin-left: 12px;
  color: #d9534f;
  font-weight: bold;
  font-size: 18px;  
}